{% include top-marskt.html %}

<body class="wrap">
{% include header-marskt.html %}

{{ content }}

{% include footer-marskt.html %}

<script src="{{ site.url }}/assets/js/jquery-2.1.4.min.js"></script>

<script src="{{ site.url }}/assets/js/mixitup.min.js"></script>

<script src="{{ site.url }}/assets/js/owl.carousel.min.js"></script>

<script src="{{ site.url }}/assets/js/jquery.easing.min.js"></script>

<script src="{{ site.url }}/assets/js/wow-1.3.0.min.js"></script>
<script>

    // Active WOW js

    if($('.wow').length){

        var wow = new WOW({

            boxClass:     'wow',

            animateClass: 'animated',

            offset:       0,

            mobile:       true,

            live:         true

        });

        wow.init();

    };

</script>

<script src="{{ site.url }}/assets/js/bootstrap.min.js"></script>
<script src="{{ site.url }}/assets/js/active.js"></script>
</body>
</html>